#app {
    max-width: 600px;
    margin: 50px auto;
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

li {
    margin-bottom: 10px;
    padding: 10px;
    background-color: silver;
    cursor: pointer;
}

li.done {
    text-decoration: line-through;
}
